
{% load static i18n %}
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'images/azzz.png' %});">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h1 class="big">{% trans 'About' %}</h1>
                            <h2 class="mb-4">{% trans 'About Me' %}</h2>
                            <p>{% trans 'Welcome to my website' %}</p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>{% trans 'Name:' %}</span> <span>{% trans 'Samatov Azamat' %}</span></li>
                                <li class="d-flex"><span>{% trans 'Date of birth:' %}</span> <span>{% trans 'June' %} 09, 1999</span></li>
                                <li class="d-flex"><span>{% trans 'Address:' %}</span> <span>{% trans 'Kashkadaryo Karshi Oqtepa St. 10 Uzbekistan' %}</span></li>
                                <li class="d-flex"><span>{% trans 'Zip code:' %}</span> <span>180100</span></li>
                                <li class="d-flex"><span>{% trans 'Email:' %}</span> <span>Samatovazamat98@gmail.com</span></li>
                                <li class="d-flex"><span>{% trans 'Phone:' %} </span> <span>+998-97-702-80-99</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <div class="text">
                            <p class="mb-4">
                                <span class="number" data-number="10">0</span>
                                <span>Project complete</span>
                            </p>
                            <p><a href="{% static 'images/AzamatResume.pdf' %}"download="true" class="btn btn-primary py-3 px-3">{% trans 'Download CV' %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
